<p class="u-spacer--tiny">
  <span>Besluit type: </span>
  {{this.besluitType}}
  <BesluitTypeSelect @besluitTypes={{besluitTypes}} @onchange={{action "updateBesluitType"}} @selected={{this.besluitType}} />
</p>

{{#wu-button-group}}
  {{wu-button label="Voeg in" class="button button--narrow" onClick=(action 'insert')}}
{{/wu-button-group}}

{{yield}}
