<p class="u-spacer--tiny">{{info.label}} <br>
  <span>Decision Type: </span>
  <select name="select" class="select" id="select-demo" value={{this.besluitType}} onchange={{action 'changeDecisionType'}} >
    <option value="besluittype:1">Besluit Type 1</option>
    <option value="besluittype:2">Besluit Type 2</option>
    <option value="besluittype:3">Besluit Type 3</option>
    <option value="besluittype:4">Besluit Type 4</option>
  </select>
</p>

{{#wu-button-group}}
  {{wu-button label="Juist" size="small" isNarrow=true command="ctrl + j" commandLocation="below" onClick=null}}
  {{wu-button label="Negeer" size="tiny" isLink=true isDark=true isNarrow=true command="esc" commandLocation="below" onClick=null}}
{{/wu-button-group}}

{{yield}}
