<PowerSelect
  @disabled={{@disabled}}
  {{!--
    disabled search for now as it's broken in the GN modal
                       --}}
   {{!--
     @placeholder="Jaarrekening, ..."
     @search={{this.search}}
     @searchEnabled={{true}}
             --}}
  @searchField="label"
  @options={{this.besluitTypes}}
  @selected={{@selected}}
  @onChange={{@onchange}} as |besluitType|>
  {{besluitType.label}}
</PowerSelect>
<p class='au-u-muted au-u-margin-tiny au-u-margin-bottom-small'>
  {{@selected.definition}}
</p>
