<div class="modal-dialog modal-dialog--small">
  <div class="modal-dialog__header">
    <div class="grid">
      <div class="col--10-12">
        {{#if this.hasSelected}}
          <strong>Geselecteerd besluittype:</strong>
        {{else}}
          <strong>Voeg een besluittype in:</strong>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="modal-dialog__content">
    <BesluitTypeSelect @besluitTypes={{this.besluitTypes}} @onchange={{this.updateBesluitType}} @selected={{this.besluit}} />
  </div>
    {{#if this.besluit.subTypes.length}}
      <div class="modal-dialog__content">
        <BesluitTypeSelect @besluitTypes={{this.besluit.subTypes}} @onchange={{this.updateBesluitSubType}} @selected={{this.subBesluit}} />
      </div>
    {{/if}}
    {{#if this.subBesluit.subTypes.length}}
      <div class="modal-dialog__content">
        <BesluitTypeSelect @besluitTypes={{this.subBesluit.subTypes}} @onchange={{this.updateBesluitSubSubType}} @selected={{this.subSubBesluit}} />
      </div>
    {{/if}}
    <div class="modal-dialog__footer">
      <button class="say-button" {{on "click" this.insert}}>
        {{#if this.hasSelected}}
          Pas aan
        {{else}}
          Voeg in
        {{/if}}
      </button>
  </div>
</div>

{{yield}}
