<div class="say-card">
  <div class="say-card__header">
    <h3 class="say-card__title">
      {{#if this.hasSelected}}
        Geselecteerd besluittype:
      {{else}}
        Voeg een besluittype in:
      {{/if}}
    </h3>
  </div>
  <div class="say-card__content say-card__content--padding">
    <BesluitTypeSelect @besluitTypes={{this.besluitTypes}} @onchange={{this.updateBesluitType}} @selected={{this.besluit}} />
  </div>
  {{#if this.besluit.subTypes.length}}
    <div class="say-card__content say-card__content--padding">
      <BesluitTypeSelect @besluitTypes={{this.besluit.subTypes}} @onchange={{this.updateBesluitSubType}} @selected={{this.subBesluit}} />
      {{#unless this.subBesluit}}
        <AuAlert @alertIcon="alert-triangle" @alertTitle="U moet een subtype selecteren voordat het wordt opgeslagen" @alertskin={{"warning"}} @alertsize="small" class="au-u-margin-bottom-none au-u-margin-top-small" />
      {{/unless}}
    </div>
  {{/if}}
  {{#if this.subBesluit.subTypes.length}}
    <div class="say-card__content say-card__content--padding">
      <BesluitTypeSelect @besluitTypes={{this.subBesluit.subTypes}} @onchange={{this.updateBesluitSubSubType}} @selected={{this.subSubBesluit}} />
      {{#unless this.subSubBesluit}}
        <AuAlert @alertIcon="alert-triangle" @alertTitle="U moet een subtype selecteren voordat het wordt opgeslagen" @alertskin={{"warning"}} @alertsize="small" class="au-u-margin-bottom-none au-u-margin-top-small" />
      {{/unless}}
    </div>
  {{/if}}
</div>

{{yield}}
