  &nbsp;&nbsp; Besluit Type:<span style="color: blue;" {{on "click" this.toggleCard}}>{{if this.besluit.label this.besluit.label "Voeg een besluittype in"}}</span>
  <AuModal
    @title={{if this.hasSelected "Geselecteerd besluittype:" "Voeg een besluittype in:"}}
    @modalOpen={{this.cardExpanded}}
    @closeModal={{this.toggleCard}}
    @size='default'
    as |Modal|
  >
    <Modal.Body>
      <BesluitTypeSelect @besluitTypes={{this.types}} @onchange={{this.updateBesluitType}} @selected={{this.besluit}} />
      {{#if this.besluit.subTypes.length}}
        <div class="say-card__content say-card__content--padding">
          <BesluitTypeSelect @besluitTypes={{this.besluit.subTypes}} @onchange={{this.updateBesluitSubType}} @selected={{this.subBesluit}} />
          {{#unless this.subBesluit}}
            <AuAlert @alertIcon="alert-triangle" @alertTitle="U moet een subtype selecteren voordat het wordt opgeslagen" @alertskin={{"warning"}} @alertsize="small" class="au-u-margin-bottom-none au-u-margin-top-small" />
          {{/unless}}
        </div>
      {{/if}}
      {{#if this.subBesluit.subTypes.length}}
        <div class="say-card__content say-card__content--padding">
          <BesluitTypeSelect @besluitTypes={{this.subBesluit.subTypes}} @onchange={{this.updateBesluitSubSubType}} @selected={{this.subSubBesluit}} />
          {{#unless this.subSubBesluit}}
            <AuAlert @alertIcon="alert-triangle" @alertTitle="U moet een subtype selecteren voordat het wordt opgeslagen" @alertskin={{"warning"}} @alertsize="small" class="au-u-margin-bottom-none au-u-margin-top-small" />
          {{/unless}}
        </div>
      {{/if}}
    </Modal.Body>
  </AuModal>
